APP_MODE=MASTER
DATABASE_URL=mysql://USER:PASSWORD@host.docker.internal:3306/evaluasi_master
MASTER_DATABASE_ADMIN_URL=mysql://ADMIN:PASSWORD@host.docker.internal:3306/mysql
AUTH_SECRET=GANTI_DENGAN_RAHASIA_UNIK_MINIMAL_32_KARAKTER
MASTER_ADMIN_NAME=Super Admin Master
MASTER_ADMIN_EMAIL=master@example.test
MASTER_ADMIN_PASSWORD=GANTI_PASSWORD_MINIMAL_10_KARAKTER
STORAGE_DRIVER=local
EVIDENCE_DIR=/app/.data/evidence
